body {
    text-align: center;
    background-color: antiquewhite;
    margin: 0;
}

img {
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 50%;
    background-color: burlywood;
}

h1 {
margin-top: 50px;
margin-bottom: 50px;
color: orangered;
}

.about {
background-color: chocolate;
color: cornsilk;
margin-left: 30px;
margin-right: 30px;
border-style: groove;
border: solid 10px;
position: relative;
bottom: 50px;
}

.nav-bar {
    background-color: coral;
   height: 40px;
   margin-bottom: 50px;
   padding-top: 10px;
   position: sticky;
   top: 0;
}

.nav_title {
    float: left;
    margin-left: 10px;
    color: black;
    margin-top: 0;
}

input {
    background-color: orange;
}