body {
    background-color: black;
    color: whitesmoke;
}

#title {
    font-size: 50px;
    text-align: center;
}

img {
    height: 250px;
    width: 170px;
}
.flex-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.flex-container>div {
    vertical-align: top;
    width: 170px;
}

.movie-name {
    color: cyan;
    margin-bottom: 0;
}

.movie-rating {
   color: gold;
}